:root {
  --accent: #3f495e;
  --input: #39536b;
  --accent-blue: #1da1f3;
}

.chatContainer {
  margin-left: 0rem;
  flex: 2;
  max-width: 35rem;
}

.chatContent {
  display: flex;
  flex-direction: column;
  height: calc(100% - 3rem);
}

.chats {
  flex: 2;
  align-self: stretch;
}

.chatSend {
  height: 6rem;
  display: flex;
  padding: 0.5rem;
}

.chatSend button {
  width: 6rem;
  padding: 0.6rem;
  height: 2.2rem;
  align-self: center;
  border-radius: 0.4rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: var(--accent-blue);
}

.chatSend textarea {
  flex: 2;
  align-self: stretch;
  font-weight: bold;
  padding-top: 0.5rem;
  border: none;
  border-radius: 0.4rem;
  padding-inline-start: 0.3rem;
  margin-right: 0.5rem;
  color: white;
  background-color: var(--input);
  outline: none;
  resize: none;
}

.chatSend::-webkit-scrollbar {
  width: 2px;
}

@media (max-width: 64em) {
  .chatContainer {
    margin-left: 0rem;
    flex: 2;
    max-width: unset;
  }
}
