.homeRoot {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
  gap: 2rem;
  height: calc(100vh - 6rem);
  overflow: auto;
}

::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #23314a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #3f495e;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
