.streamContainer {
  margin: 1rem;
  color: white;
  width: 40%;
  background-color: #23314a;
  border-radius: 10px;
}

.streams {
  padding: 0.75rem;
  position: relative;
}
.streamHeader {
  background-color: #3f495e;
  height: 1rem;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}

.Gamestream {
  height: 50vh;
}

.Userstream {
  /* border: 3px solid #215486; */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  /* background-color: #fff; */
  /* height: 100%; */
  /* width: 100%; */
}

.startButton {
  background-color: #3f495d;
  height: 2.2rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: none;
  color: black;
  font-weight: bold;
  background-color: #00ba88;
}

.endButton {
  height: 2.2rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: none;
  color: black;
  font-weight: bold;
  background-color: #f87171;
}

.mediaButton {
  height: 2.2rem;
  width: 2.2rem;
  padding: 0.6rem;
  border-radius: 20px;
  border: none;
  background-color: #3f495d;
}
