:root {
  --accent: #3f495e;
  --input: #39536b;
  --accent-blue: #1da1f3;
}

.streamFlex {
  height: calc(100% - 2rem);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-content: flex-end;
}

.streamsLeft {
  flex: 2;
  width: 60%;
  min-width: 20rem;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.streamContainer {
  color: white;
  flex: 2;
  background-color: #23314a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chatContainer {
  margin-left: 0rem;
  flex: 2;
  max-width: 35rem;
}

.chatContent {
  display: flex;
  flex-direction: column;
  height: calc(100% - 3rem);
}

.chats {
  flex: 2;
  align-self: stretch;
}

.chatSend {
  height: 6rem;
  display: flex;
  padding: 0.5rem;
}

.chatSend button {
  width: 6rem;
  padding: 0.6rem;
  height: 2.2rem;
  align-self: center;
  border-radius: 0.4rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: var(--accent-blue);
}

.chatSend textarea {
  flex: 2;
  align-self: stretch;
  font-weight: bold;
  padding-top: 0.5rem;
  border: none;
  border-radius: 0.4rem;
  padding-inline-start: 0.3rem;
  margin-right: 0.5rem;
  color: white;
  background-color: var(--input);
  outline: none;
  resize: none;
}

.streams {
  padding: 0.75rem;
  flex: 2;
  position: relative;
}
.streamHeader {
  background-color: #3f495e;
  height: 1rem;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}

.Gamestream {
  height: 100%;
}

.Userstream {
  border: 3px solid #215486;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  height: 25%;
  width: 25%;
  max-width: 30rem;
}

.controlsRoot {
  max-height: 10rem;
}

.controlsContainer {
  padding: 1rem;
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
}

.inputContainer {
  flex: 1;
  display: block;
  padding-top: 0.7rem;
  padding-right: 1rem;
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.inputBox {
  width: 100%;
  height: 2.2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.4rem;
  padding-inline-start: 0.3rem;
  margin-top: 0.7rem;
  margin-right: 2rem;
  margin-right: 2rem;
  color: white;
  background-color: var(--input);
  outline: none;
}

.mediaButton:first-child {
  margin-inline-end: 0.5rem;
}

.mediaButton:nth-child(3) {
  margin-inline-start: 0.5rem;
}
.mediaButton:nth-child(2) {
  margin-inline: 0.5rem;
}

.button {
  padding: 0.6rem;
  height: 2.2rem;
  width: 100%;
  border-radius: 0.4rem;
  border: none;
  color: black;
  font-weight: bold;
  margin-top: 0.5rem;
  cursor: pointer;
}

.startButton {
  background-color: #00ba88;
}

.endButton {
  background-color: #f87171;
}

.mediaButton {
  height: 2.2rem;
  width: 2.2rem;
  padding: 0.6rem;
  border-radius: 20px;
  border: none;
  background-color: #3f495d;
  outline: none;
  cursor: pointer;
}
@media (max-width: 64em) {
  .chatContainer {
    margin-left: 0rem;
    flex: 2;
    max-width: unset;
  }
  .streamFlex {
    flex-direction: column;
  }
  .streamsLeft {
    width: auto;
  }
  .streamContainer {
    width: auto;
    margin-inline: 1rem;
  }
  .Userstream {
    max-width: 18rem;
  }
}
@media (max-width: 43em) {
  .StreamFlex {
    height: auto;
  }
  .Userstream {
    max-width: 8rem;
  }
}
