.streamContainer {
  margin: 20px;
  color: white;
  width: 34rem;
  height: 370px;
  background-color: #23314a;
  border-radius: 10px;
}

.streamHeader {
  background-color: #3f495e;
  height: 1rem;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}

.Gamestream {
  margin: 10px;
  height: 300px;
}

.Userstream {
  border: 3px solid #215486;
  position: absolute;
  right: 20px;
  top: 190px;
  z-index: 10;
  height: 100px;
  width: 150px;
}

.startButton {
  background-color: #3f495d;
  height: 2.2rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: none;
  color: black;
  font-weight: bold;
  background-color: #00ba88;
}

.endButton {
  height: 2.2rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: none;
  color: black;
  font-weight: bold;
  background-color: #f87171;
}

.mediaButton {
  height: 2.2rem;
  width: 2.2rem;
  padding: 0.6rem;
  border-radius: 20px;
  border: none;
  background-color: #3f495d;
}
