:root {
  --accent: #3f495e;
  --input: #39536b;
  --accent-blue: #1da1f3;
}

.controlsRoot {
  max-height: 10rem;
}

.controlsContainer {
  padding: 1rem;
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
}

.inputContainer {
  flex: 1;
  display: block;
  padding-top: 0.7rem;
  padding-right: 1rem;
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.inputBox {
  width: 100%;
  height: 2.2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.4rem;
  padding-inline-start: 0.3rem;
  margin-top: 0.7rem;
  margin-right: 2rem;
  margin-right: 2rem;
  color: white;
  background-color: var(--input);
  outline: none;
}

.mediaButton:first-child {
  margin-inline-end: 0.5rem;
}

.mediaButton:nth-child(3) {
  margin-inline-start: 0.5rem;
}
.mediaButton:nth-child(2) {
  margin-inline: 0.5rem;
}

.button {
  padding: 0.6rem;
  height: 2.2rem;
  width: 100%;
  border-radius: 0.4rem;
  border: none;
  color: black;
  font-weight: bold;
  margin-top: 0.5rem;
  cursor: pointer;
}

.startButton {
  background-color: #00ba88;
}

.endButton {
  background-color: #f87171;
}

.mediaButton {
  height: 2.2rem;
  width: 2.2rem;
  padding: 0.6rem;
  border-radius: 20px;
  border: none;
  background-color: #3f495d;
  outline: none;
  cursor: pointer;
}
