@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b162a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rootFlex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.rootContainer {
  flex: 2;
}

textarea::-webkit-scrollbar {
  width: 0.5rem;
}

textarea::-webkit-scrollbar-thumb {
  background: #1da1f3;
}
